.event-banner {
  background: $primary;
  height: 250px;
}

.event-box {
  position: relative;
  margin: auto;
  top: 60%;
  background: white;
  height:300px;
  width: 300px;
  border-style: solid;
  border-width: 3px;
  border-color: $primary;
  text-align: center;
  padding: 30px;
  object-fit: cover;
  p {
    opacity: .6;
  }
}

.event-info {
  text-align: center;
  top: 50px;
  color: grey;
  p {
    opacity: .6;
  }

}

.icon-color {
  color: $primary;
  height:10px;
}

.btn-event {
  vertical-align: middle;
  margin-top: 300px;
  text-align: center;
}

.event-description {
  font-size:13px;
}


