// Specific CSS for your home-page
.illustration {
  width: 80%;
  margin: auto;
}

.home {
  text-align: center;
}
.tagline {
  font-size: 30px;
  strong {
    color: $primary;
  }
}

.footer {
  width: 100%;
  text-align: left;
  display: block;
  opacity: .6;
  font-size: 10px;
  strong {
    color: $primary;
  }
  position: absolute;
  bottom: 16px;
  left: 16px;
}
