// Specific CSS for your home-page
.illustration {
  width: 80%;
  margin: auto;
}

.home {
  text-align: center;
}
.tagline {
  font-size: 30px;
  strong {
    color: $primary;
  }
}

.navbar button:focus {
  outline: none;
  border: 1px solid $primary;
}
