
.cards {
  flex-wrap: wrap;
  justify-content: space-between;
}
.lunch-title {
  font-size: 30px;
  margin-bottom: 3rem !important;
  margin-top: 3rem !important;
  // text-align: center;
}

.active-card {
  background-color: $primary !important;
  color: white;
}

.lunch-card {
  background-color:  white;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 10px;
  transition: 0.3s;
  display: flex;
  align-items: flex-start;
  flex: 0 0 48%;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 0 1px $primary;
  object-fit: cover;
}

.user-infos {
  padding-left: 16px;
}

.user-infos span {
  opacity: .6;
  font-size: 14px;
}

.user-infos p {
  margin: 0;
}
