<div class="event-banner">
  <div class="event-box">
    <p><i class="far fa-calendar-alt icon-color"></i> <strong><%= @event.name %></strong></p>
    <p><%= @event.starts_at %></p>
    <p><%= @event.user%></p>
  </div>
</div>

