<div class="booking-banner" style="background-image: url(<%= image_path "desk.jpg" %>)">
  <div class="container py-4">
    <h4>Reservation</h4>
  </div>
</div>
<div class="container">
  <div class="user-section">
    <p class="header">Your desk</p>
    <p class="content"><%= @booking_desk.desk.name %></p>
  </div>

</div>
