<div class="container home">
  <p class="tagline my-5">Snap the <strong>best desks</strong> based on your needs.</p>
  <%= link_to "Select Seat", "#", class: "btn btn-primary" %>
  <div class="my-2">
    <%= link_to "I don't care, give me a random seat.", "#" %>
  </div>
  <%= image_tag "illustration.svg", class: "illustration d-block d-sm-none" %>
  <span class="footer">Made with ❤️by <strong>shh_im_coding</strong>.</span>
</div>
