<div class="container home">
  <p class="tagline my-5">Snap the <strong>best desks</strong> based on your needs.</p>
  <%= link_to "Select Seat", new_booking_desk_path, class: "btn btn-primary" %>
  <div class="my-2">
    <% if user_signed_in? %>
      <%= link_to BookingDesk.create!(user: current_user, desk: Area.all.sample.desks.sample, starts_at: DateTime.now, ends_at: DateTime.now + 1.hour), class: "btn btn-light btn-sm" do %>
        Quick Desk (earn <i class="fas fa-coins"></i>)
      <% end %>
    <% else %>
      <%= link_to "Login", new_user_session_path %>
    <% end %>
  </div>
  <%= image_tag "illustration.svg", class: "illustration d-block d-sm-none" %>
  <span class="footer">Made with ❤️by <strong>shh_im_coding</strong>.</span>
</div>

